body{

    margin:0px;
    background-color: black;
}
p{
    color: aliceblue;
}

.header{
    background-color: aqua;
    padding: 50px;
}
.link{
    font-size: 30px;
    margin: 240px;
}

.img{
    margin: 50px 0 50px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
main{
    text-align: center;
}